<!-- <textarea rows="6" [value]="newPost" #postInput></textarea> -->
<!-- <textarea rows="6" #postInput></textarea> -->
<!-- #varname is a marker that we can add to any HTML element that creates a reference to that element (an object) -> we use to access the data associated with that element -->

<!-- <hr />
<button (click)="onAddPost(postInput)">Save Post</button>
<p>{{ newPost }}</p> -->


<!-- using two-way binding -->
<mat-card>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="enteredTitle">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput rows="6" [(ngModel)]="enteredContent"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary"
  (click)="onSavePost()">Save Post</button>
</mat-card>

<!-- <p>{{ newPost }}</p> -->

